{% extends "base.html" %}

{% block content %}
<h5>Register</h5>
<hr>
<form method="POST">
    <div class="form-group">
        <label for="username">使用者名稱</label>
        {% if request.args.get('username') %}
        <input type="text" class="form-control" name="username" value="{{ request.args.get('username') }}" autocomplete="off" required>
        {% else %}
        <input type="text" class="form-control" name="username" autocomplete="off" required>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="password">密碼</label>
        <input type="password" class="form-control" name="password" required>
    </div>
    <div class="form-group">
        <label for="check_pw">確認密碼</label>
        <input type="password" class="form-control" name="check_pw" required>
    </div>
    <input class="btn btn-success" type="submit" name="submit" value="註冊">
</form>
{% endblock %}